#tetris {
    border-radius: 10px;
    overflow: hidden;

    border-collapse: collapse; 
    border: 1px solid black; 
    width: 320px; 
    height: 640px; 
    align-items: center; 
    justify-content: center;
}
#game {
    background-image: url("../images/BackGroundT.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    #tetris {
        border-radius: 10px;
        overflow: hidden;

        border-collapse: collapse; 
        border: 1px solid black; 
        width: 320px; 
        height: 640px; 
        align-items: center; 
        justify-content: center;
    }
    #game {
        background-image: url("../images/BackGroundT.jpg");
        background-size: cover;
        background-repeat: no-repeat; 
    }
    #resultImage {
        display: none;
    }
    .hover_img { 
        position:relative;  
    }
    .hover_img a span { 
        position:absolute; 
        display:none; 
        z-index:99;
        left:50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .hover_img span { 
        display:block;
    }
}

/*======================
    404 page
=======================*/


.page_404{ 
    padding:50px 0; background:#fff;
    font-family: 'Arvo', serif;
    align-items: center;
    justify-content: center;

}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}