{% extends 'base.html.twig' %}

{% block title %}Hello QcmController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/qcm.css') }}">
<div class="example-wrapper">
    <form action="{{ path('qcm.rep') }}" method="post">
        <h2 class="py-2">Lequel de ces gaz à effet de serre est le plus puissant ?</h2>
        <div class="container">
            <label><input name="ed" type="radio" value="1A"/> A. Le dioxyde de carbone (CO2)</label>
            <label><input name="ed" type="radio" value="1B"/> B. Le méthane (CH4)</label>
            <label><input name="ed" type="radio" value="1C"/> C. L'oxyde nitreux (N2O) </label>
            <label><input name="ed" type="radio" value="1D"/> D. L'hexafluorure de soufre (SF6) </label>
        </div>
        <h2 class="py-2">Quel est l'impact du réchauffement climatique sur les écosystèmes marins ?</h2>
        <div class="container">
            <label><input name="ez" type="radio" value="2A"/> A. L'acidification des océans</label>
            <label><input name="ez" type="radio" value="2B"/> B. L'élévation du niveau de la mer </label>
            <label><input name="ez" type="radio" value="2C"/> C. Les changements dans les régimes de précipitations </label>
            <label><input name="ez" type="radio" value="2D"/> D. Tout ce qui précède </label>
        </div>
        <h2 class="py-2">Quelle est la principale cause de la déforestation ?</h2>
        <div class="container">
            <label><input name="e" type="radio" value="3A"/>A. L'urbanisation</label>
            <label><input name="e" type="radio" value="3B"/>B. L'exploitation forestière</label>
            <label><input name="e" type="radio" value="3C"/>C. L'agriculture </label>
            <label><input name="e" type="radio" value="3D"/>D. Les incendies de forêt  </label>
        </div>
        <h2 class="py-2">Quel est le principal gaz à effet de serre émis par les activités humaines ?</h2>
        <div class="container">
            <label><input name="edf" type="radio" value="4A"/> A. Le dioxyde de carbone (CO2)</label>
            <label><input name="edf" type="radio" value="4B"/> B. Le méthane (CH4)</label>
            <label><input name="edf" type="radio" value="4C"/> C. L'oxyde nitreux (N2O) </label>
            <label><input name="edf" type="radio" value="4D"/> D. L'hexafluorure de soufre (SF6) </label>
        </div>
</div>
<div class="text-center">
        <button type="sumbit" class="btn btn-primary btn-lg">Réponse ?</button>
</div>
    </form>

{% endblock %}
