{% extends 'base.html.twig' %}

{% block title %}Hello QcmController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/qcm.css') }}">
<div class="example-wrapper">
    <form action="/qcm" method="post">
        <h2 class="py-2">Lequel de ces gaz à effet de serre est le plus puissant ?</h2>
        <div class="container">
            <p>D. L'hexafluorure de soufre (SF6)</p>
        </div>
        <h2 class="py-2">Quel est l'impact du réchauffement climatique sur les écosystèmes marins ?</h2>
        <div class="container">
            <p>A. L'acidification des océans</p>
        </div>
        <h2 class="py-2">Quelle est la principale cause de la déforestation ?</h2>
        <div class="container">
           <p>A. L'agriculture</p>
        </div>
        <h2 class="py-2">Quel est le principal gaz à effet de serre émis par les activités humaines ?</h2>
        <div class="container">
            <p>A. Le dioxyde de carbone (CO2)</p>
        </div>
</div>
<div class="text-center">
        <button type="sumbit" class="btn btn-primary btn-lg">Réponse ?</button>
</div>
    </form>

{% endblock %}
