{% extends "base.html.twig" %}



{% block body %}
    

<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">

                <h3 class="font-weight-bold">Penser <br>positivement <br> sur notre climat</h3>

                <p class="text-muted">LRejoignez la révolution climatique : Ensemble,
                    agissons pour un avenir durable et préservons notre
                    planète du réchauffement ! <i class="fa-solid fa-earth-americas"></i> #ChangeonsLeClimat</p>



            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="{{ asset('/images/pexels-lumn-167684 (1).jpg') }}" alt="Description de l'image"
                        id="image1">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>





<div class="grid2">
    <div class="grid2-p">
        <div class="container my-5 py-5 z-depth-1">


            <!--Section: Content-->
            <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

                <!--Grid row-->
                <div class="row mb-4">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4 mb-md-0">

                        <h3 class="h3">Planter un arbre</h3>

                        <p class="text-muted">Changeons le monde un arbre à la fois. Plantez un arbre aujourd'hui et contribuez directement à la lutte contre le changement climatique. Chaque petite pousse compte dans la création d'un avenir plus vert et durable pour tous</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="btn-inscription">
                        <a href="https://planete-urgence.org/1e-1-arbre-plante/#:~:text=1%20%E2%82%AC%20donn%C3%A9%20%3D%201%20arbre%20plant%C3%A9&text=Chaque%20don%20est%20d%C3%A9fiscalis%C3%A9%20%C3%A0,17%E2%82%AC%20apr%C3%A8s%20r%C3%A9duction%20fiscale.">
                            <button><p>Plantez votre arbre</p></button>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </section>
            <!--Section: Content-->


        </div>
    </div>

</div>

<div class="grid-container">
    <div class="col1">
        
    </div>
    <div class="col2">
        <div class="grid2-p">
            <div class="container my-5 py-5 z-depth-1">
    
    
                <!--Section: Content-->
                <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
                    <!--Grid row-->
                    <div class="row mb-4">
    
                        <!--Grid column-->
                        <div class="col-md-8 mb-4 mb-md-0">
    
                            <h3 class="h3">Vers un Avenir Écologique : Chacun de Nous Compte</h3>
    
                            <p class="text-muted">Chaque geste quotidien, même le plus petit, peut contribuer à un avenir plus durable. En choisissant des alternatives écologiques, en réduisant notre empreinte carbone et en recyclant, nous forgeons un monde meilleur.</p>
    
                        </div>
                        <!--Grid column-->
    
                        <!--Grid column-->

    
                    </div>
                    <!--Grid row-->
    
                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
    
                </section>
                <!--Section: Content-->
    
    
            </div>
        </div>
    </div>
</div>




<div class="grid2">
    <div class="grid2-p">
        <div class="container my-5 py-5 z-depth-1">


            <!--Section: Content-->
            <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

                <!--Grid row-->
                <div class="row mb-4">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4 mb-md-0">

                        <h3 class="h3">Agissons : Petits Gestes, Grand Impacte</h3>

                        <p class="text-muted">Découvrez le pouvoir des petits gestes ! Sur cette page, explorez des actions simples qui, réunies, font une grande différence pour notre planète. Prêts à agir ? Commencez dès maintenant !</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="btn-inscription">
                        <a href="https://www.conservation-nature.fr/ecologie/le-rechauffement-climatique/lutter-au-quotidien/">
                        <button><p>Engagez-vous</p></button>
                    </a>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </section>
            <!--Section: Content-->


        </div>
    </div>

</div>





<div class="container-carrousel">
<div class="titre-carrousel">
    <h4>Saviez-vous?</h4>
    <p></p>
</div>

<div class="carrousel">
    
    <div class="grid-carrousel">
        <div class="slide-carrousel">
            <h6>Assiette et Climat</h6>
            <p>Notre consommation d’aliments a un fort impact sur le réchauffement climatique. En effet, au niveau mondial, la chaîne d’approvisionnement alimentaire actuelle génère environ 13,7 milliards de tCO2e.</p>
            <a href="https://www.un.org/fr/climatechange/science/climate-issues/food"><button class="btn-carrousel"><i class="fa-solid fa-arrow-right"></i></button></a>
        </div>

        <div class="slide-carrousel">
            <h6>La Face Cachée de la Technologie </h6>
            <p>La pollution numérique représente 4% du gaz à effet de serre émis en France, et pourtant elle n’est pas si connue. Elle renvoie à la pollution engendrée par les nouvelles technologies. Nos téléphones portables génèrent des polluants néfastes pour notre planète.</p>
            <a href="https://publications.banque-france.fr/comment-la-technologie-peut-elle-contribuer-de-maniere-significative-limiter-le-changement#:~:text=Une%20acc%C3%A9l%C3%A9ration%20du%20%22progr%C3%A8s%20technique,en%202100%20sans%20technologies%20vertes."><button class="btn-carrousel"><i class="fa-solid fa-arrow-right"></i></button></a>
        </div>

        <div class="slide-carrousel">
            <h6>Optimisons notre Énergie</h6>
            <p>C’est pas Versailles ici ! L'idée est de limiter au maximum le gaspillage énergétique. Par exemple, isoler correctement son logement pour éviter la déperdition, utiliser des énergies renouvelables et des lampes LED, baisser son chauffage, etc.  </p>
            <a href="https://www.wwf.fr/agir-au-quotidien/energie#:~:text=Comment%20all%C3%A9ger%20l'empreinte%20de,moins%20polluante%20des%20%C3%A9nergies%20fossiles."><button class="btn-carrousel"><i class="fa-solid fa-arrow-right"></i></button></a>
        </div>

        
    </div>
</div>
</div>


{% endblock %}