{% extends "base.html.twig" %}



{% block body %}
    

<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">

                <h3 class="font-weight-bold">Penser <br>positivement <br> sur notre climat</h3>

                <p class="text-muted">LRejoignez la révolution climatique : Ensemble,
                    agissons pour un avenir durable et préservons notre
                    planète du réchauffement ! <i class="fa-solid fa-earth-americas"></i> #ChangeonsLeClimat</p>



            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="{{ asset('/images/pexels-lumn-167684 (1).jpg') }}" alt="Description de l'image"
                        id="image1">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>





<div class="grid2">
    <div class="grid2-p">
        <div class="container my-5 py-5 z-depth-1">


            <!--Section: Content-->
            <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

                <!--Grid row-->
                <div class="row mb-4">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4 mb-md-0">

                        <h3 class="h3">Planter un arbre</h3>

                        <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                            molestiae
                            numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam.</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="btn-inscription">
                        <button><p>S'nscrire</p></button>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </section>
            <!--Section: Content-->


        </div>
    </div>

</div>

<div class="grid-container">
    <div class="col1">
        
    </div>
    <div class="col2">
        <div class="grid2-p">
            <div class="container my-5 py-5 z-depth-1">
    
    
                <!--Section: Content-->
                <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
                    <!--Grid row-->
                    <div class="row mb-4">
    
                        <!--Grid column-->
                        <div class="col-md-8 mb-4 mb-md-0">
    
                            <h3 class="h3">Planter un arbre</h3>
    
                            <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                                molestiae
                                numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam.</p>
    
                        </div>
                        <!--Grid column-->
    
                        <!--Grid column-->

    
                    </div>
                    <!--Grid row-->
    
                    <!--Image-->
                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
    
                </section>
                <!--Section: Content-->
    
    
            </div>
        </div>
    </div>
</div>




<div class="grid2">
    <div class="grid2-p">
        <div class="container my-5 py-5 z-depth-1">


            <!--Section: Content-->
            <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

                <!--Grid row-->
                <div class="row mb-4">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4 mb-md-0">

                        <h3 class="h3">Planter un arbre</h3>

                        <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                            molestiae
                            numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam.</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="btn-inscription">
                        <button><p>S'nscrire</p></button>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </section>
            <!--Section: Content-->


        </div>
    </div>

</div>

<div class="titre-carrousel">

</div>

<div class="carrousel">
    <h6>Vous-saviez?</h6>
    <div class="grid-carrousel">
        <div class="slide-carrousel">
            <h6>Title</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat amet consectetur laudantium. Sunt sequi, consectetur fugit ullam earum doloribus ab vero ipsa minima. Nostrum quam vel optio repudiandae quaerat.</p>
            <button class="btn-carrousel"><i class="fa-solid fa-arrow-right"></i></button>
        </div>

        <div class="slide-carrousel">
            <h6>Title</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat amet consectetur laudantium. Sunt sequi, consectetur fugit ullam earum doloribus ab vero ipsa minima. Nostrum quam vel optio repudiandae quaerat.</p>
            <button class="btn-carrousel"><i class="fa-solid fa-arrow-right"></i></button>
        </div>

        <div class="slide-carrousel">
            <h6>Title</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis fugiat amet consectetur laudantium. Sunt sequi, consectetur fugit ullam earum doloribus ab vero ipsa minima. Nostrum quam vel optio repudiandae quaerat.</p>
            <button class="btn-carrousel"><i class="fa-solid fa-arrow-right"></i></button>
        </div>

        
    </div>
</div>


{% endblock %}