        <nav class="navbar navbar-expand-lg bg-primary-light" data-bs-theme="dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Accueil
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html">À propos</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-regular fa-user"></i>Profil</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/connexion">Connexion</a>
                      <a class="dropdown-item" href="/inscription">Inscription</a>
                      <a class="dropdown-item" href="/user">Mon Compte</a>
                    </div>
                  </li>
                </ul>
                <label class="switch">
                    <input type="checkbox" id="darkmode" onchange="toggleDarkMode()">
                    <span class="slider"></span>
                </label>
                <form class="d-flex" data-dashlane-rid="c8abe3218c0bc7a0" data-form-type="">
                  <input class="form-control me-sm-2" type="search" placeholder="Rechercher" data-dashlane-rid="92fc077944a2265a" data-form-type="">
                  <button class="btn btn-primary my-2 my-sm-0" type="submit" data-dashlane-rid="9b742778b3ea5188" data-form-type="" data-dashlane-label="true">Rechercher</button>
                </form>
              </div>
            </div>
          </nav>